In [1]:
# 12220141

In [2]:
import json
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import urllib
import numpy as np
import string as str
import streamlit as st
from bokeh.plotting import figure
from PIL import Image

# Setting and Control Panel

In [3]:
# Title
st.set_page_config(layout = "wide")
st.title("World Crude Oil Production 1971 - 2015")

# Sidebar
picture = Image.open("oilrig.png")
st.sidebar.image(picture)

st.sidebar.title ("Setting")
left_col, right_col = st.columns(2)

2021-12-17 00:34:35.906
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run ipykernel_launcher [ARGUMENTS]

# Opening JSON and CSV File

In [4]:
# Opening JSON File
fhand1 = open("kode_negara_lengkap.json")
files_json = json.load(fhand1)
file_json = pd.DataFrame.from_dict(files_json, orient = "columns")
file_json

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,004,ISO 3166-2:AF,Asia,Southern Asia,,142,034,
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,,150,154,
2,Albania,AL,ALB,008,ISO 3166-2:AL,Europe,Southern Europe,,150,039,
3,Algeria,DZ,DZA,012,ISO 3166-2:DZ,Africa,Northern Africa,,002,015,
4,American Samoa,AS,ASM,016,ISO 3166-2:AS,Oceania,Polynesia,,009,061,
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,,009,061,
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,,002,015,
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,,142,145,
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014

In [5]:
# Opening CSV File
fhand2 = open("produksi_minyak_mentah.csv")
file_csv = pd.read_csv(fhand2)
file_csv

     kode_negara  tahun   produksi
0            AUS   1971  14226.194
1            AUS   1972  15029.094
2            AUS   1973  18720.577
3            AUS   1974  18498.696
4            AUS   1975  19736.070
...          ...    ...        ...
5834         ZWE   2011      0.000
5835         ZWE   2012      0.000
5836         ZWE   2013      0.000
5837         ZWE   2014      0.000
5838         ZWE   2015      0.000

[5839 rows x 3 columns]

In [6]:
# Removing Data
list_remove_data = []
list_country_codes = []
country_codes = list(file_csv["kode_negara"])
alpha_3 = list(file_json["alpha-3"])
for i in country_codes :
    if i not in list_country_codes :
        list_country_codes.append(i)
for i in list_country_codes:
    if i not in alpha_3 :
        list_remove_data.append(i)
for i in list_remove_data :
    file_csv = file_csv[file_csv.kode_negara != i]
    if i in list_country_codes :
        list_country_codes.remove(i)

## Chart

In [7]:
list_countries = []
for i in range(len(list_country_codes)) :
    for j in range(len(alpha_3)) :
        if list_country_codes[i] == alpha_3[j] :
            list_countries.append(list(file_json["name"])[j])
            list_countries.sort()

list_countries


info["Name"] = name_country
info["Country Code"] = country_code
info["Region"] = region
info["Sub-Region"] = subregion

list_country_code = list(info["kode_negara"])
production = df1[:1].iloc[0]["produksi"]
codes = df1[:1].iloc[0]["kode_negara"]
Name = " "
Region = " "
SubRegion = " "

for i in range(len(file_json)) :
    if list(file_json["alpha-3"])[i] == codes :
        Name = list(file_json["name"])[i]
        Region = list(file_json["region"])[i]
        SubRegion = list(file_json["sub-region"])[i]

with left :
    st.metric("Largest Amount of Crude Oil Production in {}".format(year_info))

['Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Congo, Democratic Republic of the',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "CÃ´te d'Ivoire",
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 "Korea (Democratic People's Republic of)",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Malta',
 'Mexico',
 'Moldova, Republic of',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan, Province of China',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [8]:
cumulative = []
country_cumulative = []

for i in list_country_codes :
    amount = file_csv.loc[file_csv["kode_negara"] == i, "produksi"].sum()
    cumulative.append(amount)
    
df1 = pd.DataFrame(list(zip(list_country_codes, cumulative)), 
                            columns = ['Country Code', 'Cumulative Production']).sort_values(by = 
                            ["Cumulative Production"], ascending = False)

[983345.1590000001,
 57109.199,
 0.0,
 3973083.387,
 5747.022,
 359089.655,
 0.0,
 75427.95399999998,
 178675.883,
 15300.885,
 66795.59800000001,
 0.0,
 0.0,
 170639.47999999998,
 18592.213000000003,
 412.0279999999999,
 0.0,
 5771632.332,
 95648.22699999998,
 61987.829,
 3562716.989,
 21214.675,
 0.0,
 2616.3250000000007,
 38245.437,
 124.868,
 0.0,
 126004.073,
 3585363.879,
 16724138.055000002,
 47208.0,
 2082997.7920000001,
 1318440.545,
 0.0,
 620312.1390000001,
 219.526,
 47502.952,
 0.0,
 2176710.168,
 391508.60599999997,
 4408.368999999999,
 0.0,
 34943.028,
 6422426.415,
 1085211.5760000001,
 29994.821,
 0.0,
 1517355.2899999996,
 0.0,
 0.0,
 2228.0690000000004,
 24229.63,
 0.0,
 0.0,
 1242566.273,
 2906842.5090000005,
 8376461.451,
 29393.971000000005,
 1334001.4309999999,
 0.0,
 4620.7119999999995,
 0.0,
 1134048.034,
 0.0,
 118.58999999999997,
 404.8140000000001,
 4457240.553000001,
 99024.712,
 0.0,
 274764.95,
 18477.119,
 367016.10799999995,
 10702753.477000002,
 17711766.321000002,
 0.0,
 19.435,
 7908.891,
 240442.522,
 4100.589,
 0.0,
 198005.746,
 75607.548,
 4335017.233,
 0.0,
 361398.82999999996,
 0.0,
 24868.229000000003,
 0.0,
 1651748.6570000001,
 417409.039,
 3068.305,
 82951.415,
 0.0,
 204502.786,
 386413.352,
 0.0,
 35425.694,
 70706.884,
 0.0,
 50394.218,
 0.0,
 778221.774,
 0.0,
 0.0,
 540516.9589999999,
 22760.159999999996,
 0.0,
 4471447.759999999,
 0.0,
 86.54399999999997,
 0.0,
 4654151.791,
 2240.119,
 0.0,
 3217166.0640000002,
 4624.136,
 594.27,
 42848.380999999994,
 0.0,
 0.0,
 0.0,
 3207.2889999999998,
 1523035.8590000002,
 0.0,
 1194546.7969999998,
 17.306,
 0.0,
 740877.682,
 879.373,
 0.0,
 334229.7099999999,
 195881.1,
 206885.619,
 139132.079,
 6573345.513,
 397982.08599999995,
 0.0]